@use "reset";
@use "vars/color.var";
@use "vars/size.var";
@use "vars/font.var";
@use "fonts/Inter.font";
@use "vars/global.var";
@use "vars/space.var";
@use "vars/gap.var";
@use "ui-library";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.html {
	overflow-y: auto;
	scrollbar-gutter: stable both-edges;
}

.app {
	position: relative;

	font: var(--font-s);
}

// supports (storybook)

.center-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	min-height: 100vh;
	padding: 20px;
}

.restriction-container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.restriction-container-large {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
