@use "reset";
@use "vars/color.var";
@use "vars/size.var";
@use "fonts/Roboto.font";
@use "vars/gap.var";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.app {
	position: relative;
	min-height: 100vh;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	min-height: 100vh;
}

// supports (storybook)

.center-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	min-height: 100vh;
	padding: 20px;
}

.restriction-container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.restriction-container-large {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
