@use "@styles/vars/global.var" as *;

.Navigation {
	position: fixed;

	z-index: var(--z-index-high);
	bottom: var(--space-m);

	max-width: $bp-m;
	height: var(--height-footer);

	padding: 0 var(--space-xl);

	border: var(--br-size-xs) solid var(--gray-opacity-10);

	border-radius: var(--br-m);

	background: var(--white-opacity-30);
	backdrop-filter: blur(var(--bl-s));
}

.icon {
	width: auto;

	color: var(--gray);
	font-size: var(--height-footer-icon);
}

.icon.active {
	color: var(--dark);
}
