.Suggestions {
	container-type: inline-size;

	--fs-suggestions-title: clamp(var(--font-size-l), 3cqw, var(--font-size-xxl));
	--fs-suggestions-item: clamp(var(--font-size-l), 3cqw, var(--font-size-xl));
}

.title {
	font-size: var(--fs-suggestions-title);
}

.text-item {
	width: 100%;

	border-bottom: var(--br-size-xs) solid var(--medium-light-gray);

	font-size: var(--fs-suggestions-item);

	line-height: var(--height-suggestion-item);
}

.item {
	width: 100%;

	cursor: pointer;
}

.icon {
	width: auto;
	height: 10px;

	color: var(--medium-light-gray);
}
