.ProductCardCompact {
	position: relative;
	width: 100%;
	padding: var(--space-s);

	background-color: var(--white);

	container-type: inline-size;

	--fs-title-compact-card: clamp(var(--font-size-s), 3cqw, var(--font-size-l));
	--fs-price: clamp(var(--font-size-xl), 4cqw, var(--font-size-xxl));
}

.link {
	display: block;
	width: 100%;
}

.image-wrapper {
	position: relative;
	width: 100%;
	max-width: var(--width-compact-card-image);
	aspect-ratio: 1 / 1;

	overflow: hidden;

	border-radius: var(--br-xs);
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.title {
	font-size: var(--fs-title-compact-card);
}
