:root {
	--gray-opacity-10: rgb(108 108 108 / 10%);
	--gray-opacity-30: rgb(255 255 255 / 30%);
	--light-gray: #f1f1f1;
	--medium-light-gray: #b5b5b5;
	--gray: #8b8b8b;
	--dark: #292928;
	--dark-opacity-30: rgb(41 41 40 / 30%);
	--red: #f24131;
}
