@use "../mixins/helpers.mixin" as *;

$bp-s: var(--bp-s);
$bp-xs: var(--bp-xs);

// todo привести в порядок
:root {
	// fonts
	--font-family-main: inter, sans-serif;

	// XS
	--font-size-xs: #{fluid(11, 12)};
	--font-line-xs: normal;
	--font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

	// S
	--font-size-s: #{fluid(11, 13)};
	--font-line-s: 110%;
	--font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

	// M
	--font-size-m: #{fluid(13, 14)};
	--font-line-m: 115%;
	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

	// L
	--font-size-l: #{fluid(13, 15)};
	--font-line-l: 115%;
	--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

	// XL
	--font-size-xl: #{fluid(15, 17)};

	// @media (width <= $bp-s: ) {
	// }

	--font-line-xl: 115.2%;
	--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

	// font-weight
	--font-weight-medium: 400;
	--font-weight-medium-fat: 500;
	--font-weight-fat: 600;
	--font-weight-ultra-fat: 700;
}
