:root {
	--bp-m: 600px;
	--bp-s: 425px;
	--bp-xs: 360px;

	// radius
	--br-m: 30px;
	--br-s: 20px;

	// blur
	--bl-s: 15px;

	// border
	--br-size-xs: 1px;

	// shadow
	--bx-shadow: 0 0 10px 0 rgb(48 48 48 / 5%);
}
