$bp-m: 600px;
$bp-s: 425px;
$bp-xs: 360px;

:root {
	// radius
	--br-m: 30px;
	--br-s: 20px;
	--br-xs: 10px;

	// blur
	--bl-s: 15px;

	// border
	--br-size-xs: 1px;

	// shadow
	--bx-shadow: 0 0 10px 0 rgb(48 48 48 / 5%);

	// z-index
	--z-index-medium: 500;
	--z-index-high: 1000;
}
