@use "../mixins/helpers.mixin" as *;

:root {
	--height-footer: 53px;
	--height-footer-icon: 21px;
	--height-logo-icon: 19px;

	// product card
	--max-width-card: 201px;
	--min-height-button: 35px;

	// category card
	--width-category-card: 114px;
}
