.Flex {
	display: flex;
}

.justifySpaceBetween {
	justify-content: space-between;
}

.justifySpaceAround {
	justify-content: space-around;
}

.justifyCenter {
	justify-content: center;
}

.justifyFlexStart {
	justify-content: flex-start;
}

.justifyFlexEnd {
	justify-content: flex-end;
}

.alignCenter {
	align-items: center;
}

.alignFlexStart {
	align-items: flex-start;
}

.alignFlexEnd {
	align-items: flex-end;
}

.directionRow {
	flex-direction: row;
}

.directionColumn {
	flex-direction: column;
}

.widthMax {
	width: 100%;
}

.gapXXS {
	gap: var(--gap-xxs);
}

.gapXS {
	gap: var(--gap-xs);
}

.gapS {
	gap: var(--gap-s);
}

.gapM {
	gap: var(--gap-m);
}

.gapL {
	gap: var(--gap-l);
}

.gapXL {
	gap: var(--gap-xl);
}

.story-container {
	height: 300px;

	border: 1px dashed var(--main-gray);

	color: var(--main-gray);
}
